@page "{name}"
@model DrawingModel

<nav>
    <a asp-page="Index">&laquo; back to list</a>
</nav>
<main>
    <div class="image">
        <a href="https://picsum.photos/seed/@Model.Drawing.PathName/600/800"><img src="https://picsum.photos/seed/@Model.Drawing.PathName/600/800" alt="@Model.Drawing.Name"></a>
    </div>
    <div class="description">
        <h1>@Model.Drawing.Name</h1>
        
        <time datetime="@Model.Drawing.Date.ToShortDateString()">@Model.Drawing.Date.ToLongDateString()</time>

        <p>@Model.Drawing.Description</p>
    </div>
</main>

@section Styles
{
    <link rel="stylesheet" href="~/css/chalk-drawing.css" />
}